---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Lightning-Fast Load Times",
    description:
      "Experience instant website loading with Astro's optimized performance, keeping users engaged from the start.",
    icon: "bx:bxs-tachometer",
  },
  {
    title: "Slim, Yet Feature-Rich",
    description:
      "Our sites blend minimal size with rich functionality, offering a powerful user experience without the bulk.",
    icon: "bx:bxs-package",
  },
  {
    title: "Cutting-Edge Interactive Elements",
    description:
      "Innovative, on-demand interactivity brings your site to life, ensuring engagement without heavy code.",
    icon: "bx:bxs-magic-wand",
  },
  {
    title: "Tailored Tech Ecosystem",
    description:
      "We integrate diverse technologies for a robust, future-proof website that goes beyond just Astro.",
    icon: "bx:bxs-chip",
  },
  {
    title: "Streamlined for SEO",
    description:
      "Maximize visibility with our SEO-optimized design, putting your site at the forefront of search results.",
    icon: "bx:bxs-binoculars",
  },
  {
    title: "Pioneering Technologies",
    description:
      "Stay ahead with our adoption of groundbreaking technologies, ensuring your website is a step above the rest.",
    icon: "bx:bxs-rocket",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Elevating Web Standards
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Our approach combines cutting-edge technology with creative design, setting
    new benchmarks in the digital world.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
